/node_modules
/public/css/custom.css
/public/js/app.js
/public/hot
/public/storage
/public/uploads/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
